---
import Navigation from "./Nav.astro";
---

<nav>
  <a href="/">
    <img
      id="logoImage"
      src="/logoImage.svg"
      alt="Docuscrape logo"
      style="width: 120%; height: auto;"
    />
    <h1 id="logo">&lt; <span>Docuscrape</span> &sol;&gt;</h1>
  </a>
  <Navigation />
</nav>

<style>
  nav {
    display: flex;
    margin: 2rem 0;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 3rem;
  }
  #logo {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  #logo span {
    display: inline-block;
    background-image: linear-gradient(to right, #ffc700, #cc00ff);
    color: transparent;
    background-clip: text;
  }
  @media (max-width: 360px) {
    nav {
      justify-content: center;
      gap: 2rem;
    }
  }
  @media screen and (max-width: 706px) {
    #logo {
      display: none;
    }
    #logoImage {
      display: block;
    }
  }
  @media screen and (min-width: 707px) {
    #logoImage {
      display: none;
    }
  }
</style>
